[Unit]
Description=ServoSystemDemo-Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/
ExecStart=/opt/ServoSystemDemo
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target